[Unit]
Description=Enable Bluetooth HCI over SMD
After=droid-late-start.target wlan-module-load.service
Before=bluetooth.service
Conflicts=shutdown.target actdead.target

[Service]
Type=oneshot
ExecStart=/usr/bin/droid/droid-hcismd-up.sh
RemainAfterExit=yes

[Install]
WantedBy=bluetooth.service
