[Unit]
Description=Load Module radio-iris
DefaultDependencies=false
After=droid-hcismd-up.service

[Service]
Type=oneshot
ExecStart=/usr/bin/droid/droid-bt-up.sh
RemainAfterExit=yes

[Install]
WantedBy=bluetooth.service
