[Unit]
Description=Load Module radio-iris
DefaultDependencies=false
After=droid-hcismd-up.service

[Service]
Type=oneshot
ExecStart=/sbin/modprobe radio-iris
RemainAfterExit=yes

[Install]
WantedBy=bluetooth.service
