[Unit]
Description=Hack lipstick to work
After=local-fs.target
Before=start-user-session@USER.service
Conflicts=rescue.target actdead.target factory-test.target

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/usr/bin/droid/lipstick.sh

[Install]
WantedBy=basic.target
