[Unit]
Description=Check how much rils is on device
After=dbus.service
Before=ofono.service

[Service]
Type=oneshot
ExecStart=/bin/sh /usr/bin/droid/ril-hack.sh
RemainAfterExit=no

[Install]
WantedBy=ofono.service
